:root{
    --highlight: #e6bc53;
    --gold: #daa520;
    --darkGray: #171717b0;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s ease-in all;
}

/* BÁSICO */

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    transition:none;
}

header .logo{
    color: var(--gold);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
    margin-left: 15px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    transition: .3s ease all;
}

header nav a:hover{
    color: var(--highlight);
    cursor: pointer;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:uppercase;
    padding: 15px 35px;
    background-color: #00000033;
    border:none;
    /*border-radius: 10%;*/
    color: white;
    font-size:12px;
    margin: 0 10px;
    transition: .4s ease all;
}

.button i{
    margin-right:8px;
}

.button:hover{
    background-color: var(--highlight);
    cursor: pointer;
}

/* PRINCIPAL */

.principal{
    background-image: linear-gradient(to top left,#302d2dc4,var(--darkGray),#302d2dc4), url("../Assets/headPhones.jpg");
    background-position: right;    
    background-size: cover;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: solid #969696 1px;
}

.principal .container{
    margin: 0 3%;
    padding: 15px;
    background: linear-gradient(to top left,#22222254,var(--darkGray),#22222254);
}

#titulo{
    font-size: 40px;
}
#autorPodcast{
    margin-left: 15px;
    color: var(--highlight);
}

#descricaoImagem{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 15px 0;
}

.descricao{
    width: 70%;
}

#imagemPodCast{
    background-image: url("../Assets/BombCast.jpg");
    background-size: cover;
    width: 150px;
    height: 150px;

    box-shadow: 1px 1px 4px 1px var(--highlight);
}

.owlItemTemplate{
    width: 95%;
    height: 100%;
    margin: auto;
}

.owlItemTemplate:hover{
    color: var(--highlight);
    background-color: #ffffff23;
    cursor: pointer;
}

.item .owlItemTemplate p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:3% 2%;
    text-align: center;
    font-size: large;
}

.sectionTitulo{
    margin: 15px;
    margin-bottom: 10px ;
    border-bottom: solid var(--highlight) 2px;
    font-size: larger;
}

/* MEDIA QUERYs MAX*/
@media screen and (max-width:700px) {
    header .container{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .button{
        width: 300px;
        margin-top: 10px;
    }
}


/* MEDIA QUERYs MIN*/
@media screen and (min-width:1024px) {
    .descricao{
        width: 55%;
    }
    
}